@tailwind base;
@tailwind components;
@tailwind utilities;

#labs{
    font-size: 0.6rem;
}

body {
    background-color: black; 
    margin: 0; 
    padding: 0; 
  }

@layer components{

    .end-cursor:after{
        content: '|';
        @apply text-sky-300;
    }

    .end-cursor.blinking:after{
        animation: blink 1s step-start infinite;
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }
}


.sticky_parent {
    height: 500vh;
}

.sticky {
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
    
}

.scroll_section {
    position: absolute;
    top: 0;
    height: 100%;
    width: 500vw;
    will-change: transform;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.hori-img {
    width: 400px;
    height: 80%;
    object-fit: cover;
    object-position: center;
}