@tailwind base;
@tailwind components;
@tailwind utilities;

#labs{
    font-size: 0.6rem;
}

body {
    background-color: black; 
    margin: 0; 
    padding: 0; 
  }

@layer components{

    .end-cursor:after{
        content: '|';
        @apply text-sky-300;
    }

    .end-cursor.blinking:after{
        animation: blink 1s step-start infinite;
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }
}


.sticky_parent {
    height: 500vh;
}

.sticky {
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
    
}

.scroll_section {
    position: absolute;
    top: 0;
    height: 100%;
    width: 500vw;
    will-change: transform;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.hori-img {
    width: 400px;
    height: 80%;
    object-fit: cover;
    object-position: center;
}

/* Bolita en las selecciones */
.addDot {
    position: relative;
    border: none;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    
    font-size: 16px;
    margin-top: 10px;
    transition: padding-left 0.3s ease-in-out; /*Add transition for smooth movement*/
    
}

.addDot::before {
    padding-right: 3px;
    content: '\2022';
    position: initial;
    left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /*Add transition for smooth visibility*/
}
  
.addDot:hover {
    padding-left: 10px; /*Adjuste de desplasamiento del texto en el hover, en 10px no hay movimiento */
}
  
.addDot:hover::before {
    opacity: 1;
}

/* Palomita en la aceptacion de T y C */
.checkbox-container {
    position: relative;
  }
  
  .checkbox-label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 0px; /* Espacio para la palomita */
    transition: all 0.4s;
  }
  
  .checkbox-label:before {
    content: '\2713'; /* Carácter Unicode para la palomita */
    position: absolute;
    left: 3.5px; /* Ajusta la posición horizontal de la palomita */
    top: 55%;
    transform: translateY(-50%);
    font-size: 15px; /* Tamaño de la palomita */
    color: transparent; /* Color transparente inicialmente */
  }
  
  .checkbox-container input:checked + .checkbox-label:before {
    color: white; /* Cambia el color según tus necesidades */
  }
  .checkbox-container input:checked + label {
    background-color: black; /* Cambia el color según tus necesidades */
  }

  
  footer:hover {
    transition: all 0.3s;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.07); /* Ajusta los valores según tus necesidades */
  }
 

